<div class="border-bottom text-center">
  <h1>ユーザー詳細メニュー</h1>
</div>
<div>
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="#" class="nav-link">作成メニュー</a></li>
    <li class="nav-item"><a href="#" class="nav-link">お気に入りサプリ</a></li>
  </ul>
</div>