<h2 class="text-center">--Concept--</h2>
<div class="jumbotron">
  <h2 class="text-center mb-4">サプリメンドについて</h2>
  <p>身体を鍛えることにおいて、今やサプリメントは必須アイテム。また、プロテインだけでは足りない栄養があることもご存じでしょう。</p>
  <p>では、プロテイン以外にどのようなサプリメントが有効なのだろうか、また自分の掲げている目的おいては、どんなサプリメントをどれくらいとれば良いのだろうか。。</p>
  <p>それを解決してくれるのはこの「サプリメンド」です！！</p>
  <p>目的、予算などの条件を入力するだけでおすすめのサプリメントをパッケージ形式でおすすめしてくれます！！</p>
</div>
<h2 class="text-center">--アカウント作成--</h2>
<div class="jumbotron">
  <h3 class="text-center mb-4">アカウント作成で下記の機能が利用可能</h3>
  <div class="merit">
    <div class="one">
      <h4 class="text-center">１．メニュー作成</h4>
      <p>実際に掲げていた目的に向かってどんなサプリメントを使っていたかを記録することができます。</p>
    </div>
    <div class="two">
      <h4 class="text-center">２．サプリ管理</h4>
      <p>目標達成に向けてどれくらいの日数分を購入すれば良いのか、あとどれくらいでサプリメントが切れるのかを把握できます。</p>
    </div>
    <div class="three">
      <h4 class="text-center">３．栄養管理</h4>
      <p>自分がサプリメントでどれくらいのカロリーや栄養素を取っているのかを管理できるため、食事のメニューを組みやすくなります。</p>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>