<h2 class="text-center">--Concept--</h2>
<div class="jumbotron">
  <h2 class="text-center mb-4">サプリメンドについて</h2>
  <p>身体を鍛えることにおいて、今やサプリメントは必須アイテム。また、プロテインだけでは足りない栄養があることもご存じでしょう。</p>
  <p>では、プロテイン以外にどのようなサプリメントが有効なのだろうか、また自分の掲げている目的おいては、どんなサプリメントをどれくらいとれば良いのだろうか。。</p>
  <p>それを解決してくれるのはこの「サプリメンド」です！！</p>
  <p>目的、予算などの条件を入力するだけでおすすめのサプリメントをパッケージ形式でおすすめしてくれます！！</p>
</div>
<h2 class="text-center">--会員特典--</h2>
<div class="jumbotron">
  <h3 class="text-center mb-4">アカウント作成で下記の機能が利用可能</h3>
  <div class="row">
    <div class="col-md-4">
      <h4 class="text-center">１．メニュー作成</h4>
      <p>体を鍛えている目的、予算に応じたおすすめのサプリメントのメニューを提案します。</p>
    </div>
    <div class="col-md-4">
      <h4 class="text-center">２．メニューの編集</h4>
      <p>提案したメニューの商品を自由に変更して、オリジナルのメニューを作成することができます。</p>
    </div>
    <div class="col-md-4">
      <h4 class="text-center">３．お気に入り</h4>
      <p>実際にサプリメントを使用して、気に入った商品をお気に入りすることができます。</p>
    </div>
  </div>
  <div class="text-center">
    <% if logged_in? %>
      <%= link_to 'メニュー作成', suggestions_path, class: 'btn btn-lg btn-primary' %>
    <% else %>
      <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
</div>