<div class="using-button">
  <%= form_with url: new_calendar_path, method: :get, local: true do |f| %>
    <%= hidden_field_tag :supplement_id, supplement.id %>
    <%= f.submit '使用する', class: "simple_square_btn2" %>
  <% end %>  
</div>


<!--
使用中止はこのページではない
同じ商品を何個でも登録できるので、like?のようなものはいらない-->
