body {
  background-color: #f5f5f5;
}

.merit {
 display: flex;
 margin-bottom: 4px;
}

.one {
  width: 33%;
  padding: 7px;
}

.two {
  width: 33%;
  padding: 7px;
}

.three {
  width: 33%;
  padding: 7px;
}

.suppl-box {
  margin: 5px;
  border: solid 2px #dcdcdc;
  border-radius: 2px;
  font-size: 16px;
}

.suppl-img > a > img {
  max-width: 100%;
  height: auto;
}

.link-btn {
  text-align: center;
  padding-bottom: 4px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}